
/* En-tête */
header {
  flex-shrink: 0;
  background-color: #343a40;
  color: #fff;
  padding: 10px 20px;
  display: flex;
  justify-content: space-between;
  align-items: center;
  box-shadow: 0 2px 4px rgba(0, 0, 0, 0.1);
}

p {
  margin: 0;
  font-size: 16px;
}
